/* impostazioni generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;

  }

  /* header */
#jumbo img {
    max-width: 100%;
    position: relative;
}

#menù {
    position: absolute;
    top: 30px;
    left: 25vh;
    z-index: 100;
    width: 150vh;
    height: 100px;
}

ul {
    position: absolute;
    top: 3px;
    left: 45vh;
    display: inline-block;
    width: 70%;
}

li {
    text-decoration: none;
    display: inline-block;
}

a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 15px;
}

#sign {
    position: absolute;
    top: 0px;
    left: 140vh;
    background-color: white;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 20px;
    border-color: white;
    cursor: pointer;
}

/* main */
#container {
    width: 80%;
    margin: 0 auto;
    /* debug */
    height: 2150px;
    background-color: blueviolet;
}

.content {
    /* debug */
    width: 70%;
    height: 500px;
    margin: 50px auto;
    background-color: chartreuse;
}

/* footer */
footer {
    margin-top: 50px;
    background-color: #23272a;
    /* debug */
    height: 400px;
}